<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WWW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1466E0491D8EC4B4008A689B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1466E05D1D8EC4B4008A689B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1466E0681D8EC4B4008A689B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
